# WELCOME TO HANDS ON

# 0. Recall Python

<img src="https://courses.cognitiveclass.ai/asset-v1:CognitiveClass+DA0101EN+2017+type@asset+block@Data-Analysis-with-Python.png" width="600"/>

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

* A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function.  A function can return data as a result.
* A Python method is like a Python function, but it must be called on an object.And to create it, you must put it inside a class.

* A method may alter the state of the object; a function does not, when an object is passed as an argument to it. We have seen this in our tutorial on tuples.

<img src ="https://miro.medium.com/v2/resize:fit:889/1*1YG9HuYt7fp-CEPBdNnlSA.png">

In [ ]:
# Hello World, declare variable, create function
print("Hello World")

In [ ]:
angka = 10
huruf = "Haha"
print(angka)
huruf

In [ ]:
#Bikin Function
def hello() :
  print('Halloo')

In [ ]:
hello()

In [ ]:
def sapa(nama) :
  print("Halo namaku " + nama)

In [ ]:
sapa("naufal")

In [ ]:
def hitung(a,b) :
  return a + b

In [ ]:
hitung(1,5)

## **1.1 Membaca data menggunakan pandas**

Mari kita lihat data apa saja yang dapat dibaca [Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

# 1. Getting Started Pandas

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png" width="300"/>



Pandas adalah paket Python open source yang paling sering dipakai untuk menganalisis data serta membangun sebuah machine learning. Pandas dibuat berdasarkan satu package lain bernama Numpy, yang mendukung arrays multi dimensi.Pandas biasa digunakan untuk membuat tabel, mengubah dimensi data, mengecek data, dan lain sebagainya.

**Keuntungan**


*   Data cleansing
*   Data fill
*   Normalisasi data
*   Penggabungan dan penyatuan data
*   Visualisasi data
*   Analisis statistik
*   Inspeksi data
*   Memuat dan menyimpan data


<img src="https://storage.googleapis.com/kaggle-forum-message-attachments/703594/14673/DATAAC.jpeg" width="300"/>

**Dataset California Housing**

The data contains information from the 1990 California census. So although it may not help you with predicting current housing prices like the Zillow Zestimate dataset, it does provide an accessible introductory dataset for teaching people about the basics of machine learning.



About the data attribut :
1. longitude: A measure of how far west a house is; a higher value is farther west

2. latitude: A measure of how far north a house is; a higher value is farther north

3. housingMedianAge: Median age of a house within a block; a lower number is a newer building

4. totalRooms: Total number of rooms within a block

5. totalBedrooms: Total number of bedrooms within a block

6. population: Total number of people residing within a block

7. households: Total number of households, a group of people residing within a home unit, for a block

8. medianIncome: Median income for households within a block of houses (measured in tens of thousands of US Dollars)

9. medianHouseValue: Median house value for households within a block (measured in US Dollars)

### 1.1.1 Persiapan dataset dengan pandas

In [ ]:
# Datasets
import pandas as pd
house = pd.read_csv('/content/sample_data/california_housing_train.csv')
house

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

What is the difference of Series and DataFrame in Pandas ? ☝

#### Answer

**Pandas Series :**

*   One-dimensional
*   Homogenous – Series elements must be of the same data type.
*   Size-immutable – Once created, the size of a Series object cannot be changed.


**Pandas Dataframe :**

*   Two-dimensional
*   Heterogenous – DataFrame elements can have different data types.
*   Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [ ]:
# Series
house[['population','housing_median_age']]

In [ ]:
house.population

In [ ]:
# DataFrme

### 1.1.2 Exploratory Data Analytics

In [ ]:
# head, tail, sample, shape, info, columns, describe, min, max, mean, std
house.sample(2)

In [ ]:
house.shape

In [ ]:
house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#tail

In [ ]:
house.mean()

In [ ]:
house.longitude.head()

In [ ]:
house.max()

longitude               -114.3100
latitude                  41.9500
housing_median_age        52.0000
total_rooms            37937.0000
total_bedrooms          6445.0000
population             35682.0000
households              6082.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [ ]:
# Data slicing, Filter Dataframe, drop, value counts, reset_index
house[1000:2000]

In [ ]:
house[house['housing_median_age']==10]

In [ ]:
rumahsepuh = house[house['housing_median_age']==10]

In [ ]:
house[house['housing_median_age']==10].median_house_value.max()

500001.0

In [ ]:
house.sort_values(by= ['housing_median_age'], ascending=False)

In [ ]:
house.sort_values(by= ['housing_median_age'], ascending=False).head(2)


[QNA](https://intip.in/QnaPma)


[Feedback](https://intip.in/FeedbackPma)


**## 1.2 Challenge #1**
---

In [ ]:
url = 'https://raw.githubusercontent.com/farrelarrizal/PublicDataset/main/ds_salaries.csv'
data = pd.read_csv(url,index_col=0)
data

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [ ]:
import pandas as pd
public = pd.read_csv('https://raw.githubusercontent.com/farrelarrizal/PublicDataset/main/ds_salaries.csv')
public

Attribute Description:


1.   work_year: The year the salary was paid.
2.   experience_level:  The experience level in the job during the year with the following possible values: EN Entry-level / Junior MI Mid-level / Intermediate SE Senior-level / Expert EX Executive-level / Director
3. employment_type: The type of employement for the role: PT Part-time FT Full-time CT Contract FL Freelance
4. job_title: The role worked in during the year.
5. salary: The total gross salary amount paid.
6. salary_currency: 	The currency of the salary paid as an ISO 4217 currency code.
7. salaryinusd: The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com).
8. employee_residence: Employee's primary country of residence in during the work year as an ISO 3166 country code.
9. remote_ratio: The overall amount of work done remotely, possible values are as follows: 0 No remote work (less than 20%) 50 Partially remote 100 Fully remote (more than 80%)
10. company_location: The country of the employer's main office or contracting branch as an ISO 3166 country code.
11. company_size: The average number of people that worked for the company during the year: S less than 50 employees (small) M 50 to 250 employees (medium) L more than 250 employees (large)



---


Sebutkan 5 Pekerjaan yang paling banyak dari dataset diatas?

In [ ]:
data.job_title.value_counts()[data.job_title.value_counts() == 1]

Lead Machine Learning Engineer    1
NLP Engineer                      1
Head of Machine Learning          1
3D Computer Vision Researcher     1
Data Specialist                   1
Staff Data Scientist              1
Big Data Architect                1
Finance Data Analyst              1
Marketing Data Analyst            1
Machine Learning Manager          1
Data Analytics Lead               1
Name: job_title, dtype: int64

In [ ]:
public[public['job_title']=='Staff Data Scientist']

In [ ]:
public.sort_values(by= ['job_title'], ascending=False).head(5)

In [ ]:
top_5_jobs = public['job_title'].value_counts().head(5)
top_5_jobs

Data Scientist               143
Data Engineer                132
Data Analyst                  97
Machine Learning Engineer     41
Research Scientist            16
Name: job_title, dtype: int64

In [ ]:
job = data.sort_values(by='job_title', ascending=False)
job.job_title.value_counts().tail(5)

Lead Machine Learning Engineer    1
Machine Learning Manager          1
Marketing Data Analyst            1
NLP Engineer                      1
3D Computer Vision Researcher     1
Name: job_title, dtype: int64

Berapa gaji rata rata untuk pekerja fulltime?

In [ ]:
average_salary_fulltime = public[public['employment_type'] == 'FT']['salary_in_usd'].mean()
average_salary_fulltime

113468.0731292517

In [ ]:
data.groupby('employment_type').salary_in_usd.mean()

employment_type
CT    184575.000000
FL     48000.000000
FT    113468.073129
PT     33070.500000
Name: salary_in_usd, dtype: float64

Hitung jumlah total gaji pekerja dengan status pekerja kontrak?

In [ ]:
total_salary_contract = public[public['employment_type'] == 'CT']['salary'].sum()
total_salary_contract

920000

In [ ]:
public[public['employment_type'] =='CT']

In [ ]:
data[data['employment_type']=='CT'].salary.sum()

Berapa standar deviasi gaji untuk para pekerja yang baru bekerja mulai tahun 2022?

In [ ]:
public[public['work_year'] >= 2022]

In [ ]:
start_year_2022 = public[public['work_year'] >= 2022]
std_salary_2022 = start_year_2022['salary'].std()
std_salary_2022

In [ ]:
data[data['work_year']>=2022].salary.std()

371207.01638931985

Apa posisi dan jabatan yang memiliki gaji dalam dollar tertinggi?

In [ ]:
max_salary = public['salary_in_usd'].max()
highest_paid_position = public[public['salary'] == max_salary][['job_title', 'experience_level']]
highest_paid_position

In [ ]:
salarymax=data.salary.max()

30400000

Link Colab : https://colab.research.google.com/drive/1aB6FIoIhn2d7ZH68xkECzhZliv6eVZ1N